
<ion-card class="card-button card-button-dark-border" color="dark" *ngFor="let item of shifts">
  <ion-card-content>
    <ion-item lines="none" color="dark" >
      <ion-avatar slot="start">
        <img [src]="item.photo | imagePipe" />
      </ion-avatar>
      <ion-label>
        <strong>{{ item.name }}</strong>
      </ion-label>
      <ion-label class="ion-text-right" slot="end">
        {{ item.positive - item.negative }} puntos
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>

<img style="padding:1rem" src="assets/images/classification.svg">