
<div class="m-05">
    <ion-card color="light" class="ion-no-margin m-lr-05 w-100 question-info-wrapper m-b-05">
        <p class="question-text">
            {{ question.text }}
        </p>
        <br />
    </ion-card>
</div>

<div class="m-05">
    <ion-card color="light" class="ion-no-margin m-lr-05 p-05 w-100 m-t-05 question-info-wrapper">
        <ion-label class="ion-text-wrap">
            <ion-text color="primary">
                <h3>Enviado por</h3>
            </ion-text>
            <p>{{ question.author }}</p>
        </ion-label>
    </ion-card>
</div>