<ion-content>
  <ion-slides style="height: 100%; width: 100%" mode="ios" pager="false" scrollbar="ios">
    <ion-slide>
      <ion-row class="animate fadeIn" style="width: 100%">
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <ion-row>
            <div color="dark" class="next-turno">
              <div class="ion-text-center">
                <h2 style="font-size: 20px; font-weight: 700; padding-bottom: 0.5rem">
                  Siguiente turno
                </h2>
                <p class="">Le toca a <strong>{{ currentShift?.name }}</strong></p>
              </div>
            </div>

            <div class="resumen-user-div" color="light">
              <div class="ion-text-center">
                <ion-row>
                  <ion-col>
                    <p class="resumen-user-rows">{{ currentShift?.positive }}</p>
                    <p>Aciertos</p>
                  </ion-col>
                  <ion-col>
                    <p class="resumen-user-rows">{{ currentShift?.negative }}</p>
                    <p>Fallos</p>
                  </ion-col>
                  <ion-col>
                    <p class="resumen-user-rows">{{ position + 1 }}º</p>
                    <p>Posicion</p>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-row>
          <div
            *ngFor="let item of options"
            (click)="actionButton(item.action)"
            class="ion-item-custom"
          >
            {{ item.name }}
            <ion-icon class="ion-icon-dashboard" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-col>
        <!-- <ion-col size="12" sizeLg="8" offsetLg="2">
          <ion-card
            color="warning"
            class="card-button card-button-warning-border"
            (click)="goToClassification()"
          >
            <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
              <ion-item lines="none" color="warning">
                <ion-label class="card-button-label"> Clasificacion </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>

          <ion-card color="light" class="card-button card-button-light-border" (click)="goToEnd()">
            <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
              <ion-item lines="none" color="light">
                <ion-label class="card-button-label"> Terminar Juego </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>

          <ion-card
            color="primary"
            class="card-button card-button-primary-border"
            (click)="nextQuestion()"
          >
            <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
              <ion-item lines="none" color="primary">
                <ion-label class="card-button-label"> Siguiente pregunta </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border"> </ion-footer>
