<ng-container *ngIf="participants > 0">
  <ion-card class="card-button card-button-dark-border" color="dark">
    <ion-card-header style="padding: 0 0 0.25rem 0.5rem">
      <h4 style="padding-left: 0.5rem">Participantes</h4>
    </ion-card-header>
    <ion-card-content style="padding: 0">
      <ion-row>
        <ng-container *ngFor="let user of users; let index = index">
          <ion-col *ngIf="index < participants" size="12" sizeMd="6">
            <ng-container color="primary" style="margin: 0">
              <ion-item color="dark" lines="none">
                <ion-label>Nombre</ion-label>
                <ion-input
                  class="ion-text-right"
                  placeholder="Introduce nombre"
                  [(ngModel)]="user.name"
                ></ion-input>
              </ion-item>
              <ion-item color="dark" [lines]="participants -1 === index ? 'none' : 'full'">
                <ion-label>Genero</ion-label>
                <ion-select
                  slot="end"
                  placeholder="Selecciona"
                  [(ngModel)]="user.gender"
                  okText="Ok"
                  cancelText="Cancelar"
                >
                  <ion-select-option value="male">Hombre</ion-select-option>
                  <ion-select-option value="female">Mujer</ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" class="card-button card-button-primary-border" (click)="goToConfirm()">
    <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
      <ion-item lines="none" color="primary">
        <ion-label class="card-button-label"> Confirmar </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card-content>
  </ion-card>
</ng-container>
