<ion-content [fullscreen]="true">
  <ion-slides style="height: 100%; width: 100%" mode="ios" pager="false" scrollbar="ios">
    <ion-slide>
      <ion-row class="animate fadeIn">
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <ng-container *ngIf="states.question">
            <ng-container *ngIf="participant && question">
              <div class="ion-text-center" style="margin-bottom: 1.5rem">
                <ion-label
                  style="font-weight: 900; text-transform: uppercase; font-size: 2.5rem; margin: 0"
                >
                  {{ participant.name }}
                </ion-label>
                <br />
                <span style="color: var(--ion-color-primary)">
                  {{ participant.positive - participant.negative }} {{ participant.positive -
                  participant.negative === 1 ? 'punto' : 'puntos' }}
                </span>
              </div>

              <div
                *ngIf="this.states.countdownQuestion"
                class="card-button card-button-dark-border"
                style="margin-bottom: 1.5rem; width: 92.5vw"
              >
                <div
                  class="ion-text-center"
                  style="padding: 0; padding-left: 1rem; padding-bottom: 0.1rem"
                >
                  <ion-row style="margin: 0">
                    <ion-col style="margin-top: 0.25rem" size="10">
                      <ion-progress-bar
                        style="padding: 0.5rem; border-radius: 25px"
                        [value]="countdownCurrentPercentage"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>{{ countdownCurrent }}</ion-label>
                    </ion-col>
                  </ion-row>
                </div>
              </div>

              <div class="ion-item-custom">
                <p
                  style="
                    padding: 1.25rem;
                    color: var(--ion-color-dark);
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-transform: uppercase;
                  "
                >
                  {{ question.text }}
                </p>
                <br />
              </div>

              <div style="margin-top: 1rem" class="ion-text-left">
                <div class="ion-item-custom">
                  <ion-label class="ion-text-wrap">
                    <ion-text color="primary">
                      <h3>Enviado por</h3>
                    </ion-text>
                    <p>{{ question.author }}</p>
                  </ion-label>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="states.classification">
            <question-classification (goToResume)="goToResume()"></question-classification>
          </ng-container>
        </ion-col>

        <!-- BUTTONS  -->
        <div *ngIf="states.buttonStart && !isFirstQuestion" style="text-align: center; width: 100%">
          <ion-button (click)="startQuestion()" style="margin-top: 1rem" class="ion-button-custom">
            Iniciar Pregunta
          </ion-button>
        </div>

        <ion-row
          class="animate fadeIn"
          *ngIf="states.question && !states.buttonStart && !isFirstQuestion"
          style="width: 100%"
        >
          <ion-col size="6">
            <ion-button
              class="card-button-two-columns card-button-primary-border"
              color="primary"
              (click)="voteQuestion('negative')"
              style="height: 4.25rem; width: 100%; margin: 0.5rem 0 0.5rem 0"
              [disabled]="!states.buttonStart && !isFirstQuestion && states.countdownQuestion"
            >
              <ion-icon style="zoom: 1; padding-top: 0.1rem" name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button
              class="card-button-two-columns card-button-success-border"
              color="success"
              (click)="voteQuestion('positive')"
              style="height: 4.25rem; width: 100%; margin: 0.5rem 0 0.5rem 0"
              [disabled]="!states.buttonStart && !isFirstQuestion && states.countdownQuestion"
            >
              <ion-icon
                style="zoom: 1; padding-top: 0.1rem; color: #ffffff"
                name="checkmark"
              ></ion-icon
              ><br />
            </ion-button>
          </ion-col>
          <br />
        </ion-row>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- Footer clasificacion -->
<ion-footer class="ion-no-border" style="margin-bottom: 0.5rem" *ngIf="states.classification">
  <ion-row class="animate fadeIn">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <ion-card
        class="card-button card-button-primary-border"
        color="primary"
        (click)="goToResume()"
      >
        <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
          <ion-item lines="none" color="primary">
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            <ion-label class="card-button-label"> Volver </ion-label>
          </ion-item>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-footer>

<!-- Footer Resume -->
