<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row>
      <ion-col size="12" sizeLg="8" offsetLg="2">
        <div class="img-logo animate__animated animate__slideInDown animate__fast">
          <img src="assets/images/question.svg" />
        </div>
        <br /><br />
        <div class="animate__animated animate__slideInUp animate__fast">
          El juego consiste en reunirse entre varias personas, contestar preguntas y
          decidir vosotros mismos si es correcta la respuesta o no. ¿Dificil?
          <br /><br /><br /><br />
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-card class="card-button" color="primary" (click)="goTo()">
    <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
      <ion-item lines="none" color="primary">
        <ion-label class="card-button-label"> Empezamos </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card-content>
  </ion-card>
</ion-footer>
