<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title class="ion-text-center"> </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button color="dark" fill="clear" (click)="goToLogin()">
        <ion-icon name="people"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="options.state === 'todo'">
    <ion-card color="dark" class="card-button">
      <ion-card-header style="padding: 0 0 0.25rem 0.5rem">
        <h4 style="padding-left: 0.5rem">Opciones</h4>
      </ion-card-header>
      <ion-card-content style="padding: 0">
        <ion-item color="dark" lines="none">
          <ion-label>Tipo de juego</ion-label>
          <ion-select
            slot="end"
            value="2"
            multiple="false"
            placeholder="Seleciona tipo"
            [(ngModel)]="options.type"
            (ionChange)="getTotalOfQuestionOfType()"
            okText="Ok"
            cancelText="Cancelar"
          >
            <ion-select-option *ngFor="let type of typesOfGame" [value]="type.value">
              {{ type.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="dark">
          <ion-label>Duracion Pregunta (seg)</ion-label>
          <ion-select
            slot="end"
            value="2"
            multiple="false"
            placeholder="Selecciona duracion pregunta"
            [(ngModel)]="options.durationQuestion"
            okText="Ok"
            cancelText="Cancelar"
          >
            <ion-select-option value="5">5 segundos</ion-select-option>
            <ion-select-option value="10">10 segundos</ion-select-option>
            <ion-select-option value="15">15 segundos</ion-select-option>
            <ion-select-option value="20">20 segundos</ion-select-option>
            <ion-select-option value="25">25 segundos</ion-select-option>
            <ion-select-option value="30">30 segundos</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="dark" lines="none">
          <ion-label>Nº participantes</ion-label>
          <ion-select
            slot="end"
            value="2"
            multiple="false"
            placeholder="Selecciona participantes"
            [(ngModel)]="options.numberParticipants"
            (ionChange)="changeNumberOfParticipants()"
            okText="Ok"
            cancelText="Cancelar"
          >
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
          </ion-select>
        </ion-item>
        <br />
      </ion-card-content>
    </ion-card>

    <ion-card class="card-button" color="primary">
      <ion-card-content color="warning" class="ion-no-padding">
        <ion-item color="primary" lines="none">
          <ion-icon name="warning"></ion-icon>&nbsp;&nbsp;
          <ion-label class="ion-text-wrap"> {{ totalQuestions }} preguntas disponibles </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <init-options-participants
      [participants]="options.numberParticipants"
      (confirm)="saveInitOptions($event)"
      (takePhoto)="takePhoto()"
    ></init-options-participants>
  </ng-container>

  <ng-container *ngIf="options.state === 'resume'">
    <ion-card class="card-button" color="dark">
      <ion-card-content>
        <ion-item color="dark" lines="none">
          <ion-label><strong>Tipo de juego</strong></ion-label>
          <ion-label class="ion-text-right">{{ options.type | typePipe }}</ion-label>
        </ion-item>

        <ion-item color="dark" lines="none">
          <ion-label><strong>Duracion Pregunta</strong></ion-label>
          <ion-label class="ion-text-right">{{ options.durationQuestion }} segundos</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-button" color="primary">
      <ion-card-content>
        <h2>Participantes</h2>
        <ion-row>
          <ion-col size="12" *ngFor="let participant of shifts">
            <ion-item color="primary" lines="none">
              <ion-avatar slot="start">
                <img src="assets/images/no-image.jpg" />
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>{{ participant.name }}</h3>
                </ion-text>
                <p>{{ participant.gender | genderPipe }}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <br />

  </ng-container>
</ion-content>

<ion-footer *ngIf="options.state === 'resume'">
  <ion-card color="dark" class="card-button" (click)="resetGame()">
    <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
      <ion-item lines="none" color="dark">
        <ion-label class="card-button-label"> Volver </ion-label>
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-item>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary" class="card-button" (click)="startGame()">
    <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
      <ion-item lines="none" color="primary">
        <ion-label class="card-button-label"> Empezar juego </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card-content>
  </ion-card>
</ion-footer>

