<ion-content>
    <div class="swipe-container-fake animate fadeIn">
        <div class="swipe-fake">
            <div class="ion-no-margin">
                <ion-row>
                    <ng-container *ngIf="state">
                        <div class="ion-text-center">

                            <img style="margin-top: 1rem; width: 50%" src="assets/images/trophy.png" alt="" />

                            <ion-card class="ion-no-margin m-05 w-100" color="light">
                                <h2>¡Juego terminado!</h2>
                                <h6>Rondas: {{ rounds }}</h6>
                            </ion-card>
                            <ion-card class="ion-no-margin m-05 w-100" color="light">
                                <h2 style="text-transform: uppercase;">{{ winner.name }}</h2>
                                <hr style="background: rgba(0,0,0,0.15);margin:.5rem">
                                <ion-row>
                                    <ion-col>
                                        Aciertos<br />
                                        {{ winner.positive }}
                                    </ion-col>
                                    <ion-col>
                                        Fallos<br />
                                        {{ winner.negative }}
                                    </ion-col>
                                </ion-row>
                                <br />
                            </ion-card>

                            <div class="ion-item-custom w-100 m-lr-05 m-t-05" (click)="goToDashboard()">
                                Ir al inicio
                                <ion-icon class="ion-icon-right" name="chevron-forward-outline"></ion-icon>
                            </div>
                        </div>
                    </ng-container>
                </ion-row>
            </div>
        </div>
    </div>
</ion-content>