<ion-content>
    <div class="swipe-container-fake animate fadeIn">
        <div class="swipe-fake">
            <div class="ion-no-margin">
                <ion-row>
                    <ion-card class="ion-no-margin m-05 w-100" color="light" *ngFor="let item of shifts; let i = index">
                        <div class="ion-text-center">
                            <ion-row>
                                <ion-col size="12">
                                    <h3>{{ item.name }}</h3>
                                </ion-col>
                                <ion-col>
                                    <p class="resumen-user-rows">{{ item?.positive }}</p>
                                    <p>Aciertos</p>
                                </ion-col>
                                <ion-col>
                                    <p class="resumen-user-rows">{{ item?.negative }}</p>
                                    <p>Fallos</p>
                                </ion-col>
                                <ion-col>
                                    <p class="resumen-user-rows">{{ i + 1}}º</p>
                                    <p>Posicion</p>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-card>

                    <div *ngFor="let item of options" (click)="actionButton(item.action)"
                        class="ion-item-custom w-100 m-lr-05 m-t-05">
                        {{ item.name }}
                        <ion-icon class="ion-icon-right" name="chevron-forward-outline"></ion-icon>
                    </div>
                </ion-row>
            </div>
        </div>
    </div>
</ion-content>