<ion-content>
  <ion-slides #slider style="height: 100%; width: 100%" mode="ios" pager="false" scrollbar="ios">
    <ion-slide>
      <ion-row class="animate fadeIn" style="width: 100%">
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <div class="resumen-user-div" color="light" *ngFor="let item of shifts; let i = index">
            <div class="ion-text-center">
              <ion-row>
                <ion-col size="12">
                  <h3>{{ item.name }}</h3>
                </ion-col>
                <ion-col>
                  <p class="resumen-user-rows">{{ item?.positive }}</p>
                  <p>Aciertos</p>
                </ion-col>
                <ion-col>
                  <p class="resumen-user-rows">{{ item?.negative }}</p>
                  <p>Fallos</p>
                </ion-col>
                <ion-col>
                  <p class="resumen-user-rows">{{ i + 1}}º</p>
                  <p>Posicion</p>
                </ion-col>
              </ion-row>
            </div>
          </div>

          <div
            style="margin-top: 1rem"
            *ngFor="let item of options"
            (click)="actionButton(item.action)"
            class="ion-item-custom"
          >
            {{ item.name }}
            <ion-icon class="ion-icon-dashboard" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
