<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title class="ion-text-center">Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngFor="let item of items">
    <ion-card
      *ngIf="item.state"
      [color]="item.color"
      class="card-button"
      (click)="goTo(item.route)"
    >
      <ion-card-content class="ion-activatable ripple-parent ion-no-padding">
        <ion-item lines="none" [color]="item.color">
          <ion-label class="card-button-label">
            {{ item.title }}<br />
            <span class="card-button-sublabel">{{ item.subtitle }}</span>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
