<ion-content>
    <div class="swipe-container-fake animate fadeIn">
        <div class="swipe-fake">
            <div class="ion-no-margin">
                <ion-row>
                    <options-init *ngIf="options.state === 'todo'" class="w-100" [options]="options" [typesOfGame]="typesOfGame"
                        (getTotalOfQuestionOfType)="getTotalOfQuestionOfType()" (continue)="continue()"
                        (changeNumberOfParticipants)="changeNumberOfParticipants()" (goToDashboard)="goToDashboard()">
                    </options-init>

                    <options-participants *ngIf="options.state === 'todoB'" [participants]="options.totalParticipants"
                        (confirm)="saveInitOptions($event)"></options-participants>

                </ion-row>
            </div>
        </div>
    </div>
</ion-content>