<ion-content>
    <div class="swipe-container-fake animate fadeIn">
        <div class="swipe-fake">
            <div class="ion-no-margin">
                <ion-row>

                    <dashboard-header class="w-100" [totalQuestions]="totalQuestions" (goToAdmin)="goToAdmin()">
                    </dashboard-header>

                    <ng-container *ngFor="let menuItem of menuOptions">
                        <div (click)="actionButton(menuItem.action)" class="ion-item-custom w-100 m-lr-05 m-t-05"
                            *ngIf="!menuItem.disabled">
                            {{ menuItem.name }}
                            <ion-icon class="ion-icon-right" name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ng-container>
                </ion-row>
            </div>
        </div>
    </div>
</ion-content>