.input-group {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: small;
  color: #000;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 0.75rem;
  font-weight: 700;
}
