<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title class="ion-text-center">Preguntas enviadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item (click)="goToEdit(item)" *ngFor="let item of items" detail>
    <p>{{ item.text }}<br><br>
    <ion-text color="primary">{{ item.author }}</ion-text> -
    <ion-text color="primary">{{ item.created | timeAgo | titlecase }}</ion-text><br>
  </p>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" [routerLink]="['/admin']">Volver</ion-button>
</ion-footer>