<ion-list>
  <ion-item button *ngIf="!state" lines="full" (click)="pause()">
    <ion-icon slot="start" name="pause"></ion-icon>
    <ion-label>Pausar</ion-label>
  </ion-item>

  <ion-item button *ngIf="state" lines="full" (click)="play()">
    <ion-icon slot="start" name="play"></ion-icon>
    <ion-label>Reanudar</ion-label>
  </ion-item>

  <ion-item button lines="full" (click)="reload()">
    <ion-icon slot="start" name="reload"></ion-icon>
    <ion-label>Reiniciar</ion-label>
  </ion-item>
</ion-list>
