<ion-list>
  <!-- <ion-item *ngIf="!state" lines="full" (click)="pause()"> -->
  <ion-item lines="full" (click)="pause()" class="pointer">
    <ion-icon slot="start" name="pause"></ion-icon>
    <ion-label>Pausar</ion-label>
  </ion-item>

  <!-- <ion-item *ngIf="state" lines="full" (click)="play()"> -->
  <ion-item lines="full" (click)="play()" class="pointer">
    <ion-icon slot="start" name="play"></ion-icon>
    <ion-label>Reanudar</ion-label>
  </ion-item>

  <ion-item lines="full" (click)="reload()" class="pointer">
    <ion-icon slot="start" name="reload"></ion-icon>
    <ion-label>Reiniciar</ion-label>
  </ion-item>
</ion-list>
