<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title class="ion-text-center">Autores </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" (click)="goToDashboard()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="padding-left: 1.5rem; padding-right: 1.5rem">
    Desde aqui podeis ver todos los autores de las preguntas de QuestionsApp
  </p>

  <div
    *ngFor="let item of authors"
    color="dark"
    lines="none"
    style="text-transform: uppercase"
    class="ion-item-custom"
  >
    {{ item.author }}
    <ion-badge style="float: right"> {{ item.questions }} </ion-badge>
  </div>
</ion-content>
