<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title class="ion-text-center">Autores </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-button card-button-dark-border" color="dark">
    <ion-card-content>
      <ion-label class="card-button-label-normal">Desde aqui podeis ver todos los autores de las preguntas de QuestionsApp</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-button card-button-dark-border" color="dark" >
    <ion-card-content>
      <ion-item *ngFor="let item of authors" color="dark" lines="none" style="text-transform: uppercase;">
        {{ item.author }}
        <ion-badge slot="end"> {{ item.questions }} </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
