<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Crear pregunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="animate slideInUp">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <form [formGroup]="question">
        <div class="input-group">
          <ion-card style="margin: 0.5rem 0 0 0" color="primary">
            <ion-card-content color="primary">
              <ion-item color="primary">
                <ion-label>Tipo</ion-label>
                <ion-select formControlName="type" placeholder="Selecciona">
                  <ion-select-option value="normal">Normal</ion-select-option>
                  <ion-select-option value="hard">Fuerte</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngIf="(type.dirty || type.touched) && type.errors" class="errors">
                <span *ngIf="type.errors?.required">El tipo es obligatorio</span>
                <span *ngIf="type.errors?.minlength">El tipo es incorrecto</span>
              </div>

              <ion-item color="primary">
                <ion-label>Activo</ion-label>
                <ion-checkbox formControlName="state"></ion-checkbox>
              </ion-item>

              <ion-item color="primary">
                <ion-label>Pregunta</ion-label>
                <ion-textarea
                  type="text"
                  placeholder="Escribe la pregunta"
                  formControlName="text"
                  rows="5"
                ></ion-textarea>
              </ion-item>
              <div *ngIf="(text.dirty || text.touched) && text.errors" class="errors">
                <span *ngIf="text.errors?.required">Pregunta obligatoria</span>
                <span *ngIf="text.errors?.email">Pregunta incorrecta</span>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-button
    [disabled]="!question.valid"
    class="big-button"
    (click)="create()"
    type="submit"
    expand="block"
    >Crear pregunta</ion-button
  >
</ion-footer>
