<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title class="ion-text-center">Opciones </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="animate fadeIn">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <div class="ion-item-custom">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>Tipo de juego</h3>
          </ion-text>
          <p>{{ options.type | typePipe }}</p>
        </ion-label>
      </div>

      <div class="ion-item-custom">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>Duracion Pregunta</h3>
          </ion-text>
          <p>{{ options.durationQuestion }} segundos</p>
        </ion-label>
      </div>

      <br />
      <p style="text-align: center; font-size: 17px; text-transform: uppercase; font-weight: 600">
        Participantes
      </p>

      <div>
        <div class="ion-item-custom" *ngFor="let participant of shifts">
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>{{ participant.name }}</h3>
            </ion-text>
            <p>{{ participant.gender | genderPipe }}</p>
          </ion-label>
        </div>
      </div>

      <div
        style="
          padding-left: 1rem;
          text-align: center;
          margin: 1rem 0rem 1rem 0rem;
          padding-right: 1rem;
        "
      >
        <ion-button expand="block" (click)="startGame()">Empezar juego</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
