<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar pregunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <ion-row class="animate fadeIn" style="margin-left: 0.8rem; margin-right: 0.8rem">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <ion-item class="ion-item-input" color="secondary">
        <ion-label color="primary" position="floating">Autor</ion-label>
        <ion-input [(ngModel)]="item.author"></ion-input>
      </ion-item>

      <ion-item class="ion-item-input" color="secondary">
        <ion-label color="primary" position="floating">Tipo</ion-label>
        <ion-input [(ngModel)]="item.type"></ion-input>
      </ion-item>

      <ion-item class="ion-item-input" color="secondary">
        <ion-label color="primary" position="floating">Pregunta</ion-label>
        <ion-textarea rows="5" [(ngModel)]="item.text"></ion-textarea>
      </ion-item>

      <ion-item class="ion-item-input" color="secondary">
        <ion-label color="primary" position="floating">Activo</ion-label>
        <ion-checkbox [(ngModel)]="item.state"></ion-checkbox>
      </ion-item>

      <div style="text-align: center; margin: 1rem 0rem 1rem 0rem">
        <ion-button expand="block" color="danger" (click)="delete()">Eliminar</ion-button>
        <ion-button expand="block" color="warning" (click)="edit()">Editar</ion-button>
        <ion-button expand="block" *ngIf="isSent" (click)="approve()">Aprobar</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
