<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar pregunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="floating">Autor</ion-label>
      <ion-input [(ngModel)]="item.author"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Tipo</ion-label>
      <ion-input [(ngModel)]="item.type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Pregunta</ion-label>
      <ion-textarea rows="5" [(ngModel)]="item.text"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Activo</ion-label>
      <ion-checkbox [(ngModel)]="item.state"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-item lines="full" (click)="goBack()">
    <ion-icon name="arrow-back-circle-outline" slot="start"></ion-icon>
    <ion-label>Volver</ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button color="danger" (click)="delete()" expand="full">Eliminar</ion-button>
  <ion-button color="warning" (click)="edit()" expand="full">Editar</ion-button>
  <ion-button *ngIf="isSent" (click)="approve()" expand="full">Aprobar</ion-button>
</ion-footer>
