<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar pregunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <ion-card class="card-button" color="dark">
    <ion-card-content color="dark">
      <ion-item color="dark" lines="none">
        <ion-label>Autor</ion-label>
        <ion-input [(ngModel)]="item.author"></ion-input>
      </ion-item>

      <ion-item color="dark" lines="none">
        <ion-label>Tipo</ion-label>
        <ion-input [(ngModel)]="item.type"></ion-input>
      </ion-item>

      <ion-item color="dark" lines="none">
        <ion-label>Pregunta</ion-label>
        <ion-textarea class="ion-text-right" rows="5" [(ngModel)]="item.text"></ion-textarea>
      </ion-item>

      <ion-item color="dark" lines="none">
        <ion-label>Activo</ion-label>
        <ion-checkbox [(ngModel)]="item.state"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button color="danger" (click)="delete()" expand="full">Eliminar</ion-button>
  <ion-button color="warning" (click)="edit()" expand="full">Editar</ion-button>
  <ion-button *ngIf="isSent" (click)="approve()" expand="full">Aprobar</ion-button>
</ion-footer>
