<div class="card-button card-button-dark-border w-100" style="margin-bottom: 1.5rem; width: 100%">
    <div class="ion-text-center" style="padding: 0; padding-bottom: 0.1rem">
        <ion-row style="margin: 0">
            <ion-col style="margin-top: 0.25rem" size="10">
                <ion-progress-bar class="progress-bar" [value]="countdownCurrentPercentage">
                </ion-progress-bar>
            </ion-col>
            <ion-col size="2">
                <ion-label>{{ countdownCurrent }}</ion-label>
            </ion-col>
        </ion-row>
    </div>
</div>