<ion-content>
    <div class="swipe-container-fake animate fadeIn">
        <div class="swipe-fake">
            <div class="ion-no-margin">
                <ion-row>
                    <ng-container *ngIf="states.question">
                        <ng-container *ngIf="participant && question">
                            <div class="w-100">
                                <question-header [participant]="participant"></question-header>

                                <question-countdown *ngIf="this.states.countdownQuestion"
                                    [countdownCurrent]="countdownCurrent"
                                    [countdownCurrentPercentage]="countdownCurrentPercentage"></question-countdown>

                                <question-info [question]="question"></question-info>
                            </div>
                        </ng-container>
                    </ng-container>

                    <!-- BUTTONS  -->
                </ion-row>
                <question-buttons class="w-100 " [states]="states" [isFirstQuestion]="isFirstQuestion"
                    (startQuestion)="startQuestion()" (voteQuestion)="voteQuestion($event)">
                </question-buttons>
            </div>
        </div>
    </div>
</ion-content>