<ion-card class="card-button card-button-dark-border" color="dark">
  <ion-card-content class="ion-text-center">
    <h2 style="font-size: 20px; font-weight: 700; padding-bottom: 0.5rem">Siguiente turno</h2>
    <p class="card-button-label-normal">
      Le toca a <strong>{{ currentShift.name }}</strong>
    </p>
  </ion-card-content>
</ion-card>

<ion-card class="card-button card-button-light-border" color="light">
  <ion-card-content class="ion-text-center">
    <ion-row>
      <ion-col>
        <p class="resumen-user-rows">{{ currentShift.positive }}</p>
        <p>Aciertos</p>
      </ion-col>
      <ion-col>
        <p class="resumen-user-rows">{{ currentShift.negative }}</p>
        <p>Fallos</p>
      </ion-col>
      <ion-col>
        <p class="resumen-user-rows">{{ position + 1 }}º</p>
        <p>Posicion</p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card class="card-button card-button-primary-border" color="primary">
  <ion-card-content class="ion-text-center">
    <p
      style="
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 900;
        padding-left: 1rem;
        padding-right: 1rem;
      "
    >
      ¿Tienes una empresa y quieres aparecer aqui?
    </p>
  </ion-card-content>
</ion-card>
