<ion-content class="ion-text-center">
  <ng-container *ngIf="state">
    <img style="margin-top: 1rem; width: 50%" src="assets/images/trophy.png" />

    <ion-card color="success" class="card-button card-button-success-border">
      <ion-card-content class="ion-text-center card-button-label-normal">
        <p>{{ winner.name }}</p>
        <ion-row>
          <ion-col>
            Aciertos<br />
            {{ winner.positive }}
          </ion-col>
          <ion-col>
            Fallos<br />
            {{ winner.negative }}
          </ion-col>
        </ion-row>
        <br />
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-button (click)="goToHome()">Ir al inicio</ion-button>
</ion-footer>