<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" fill="clear" [routerLink]="['/admin']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Todas las preguntas ({{this.items.length}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="animate fadeIn" style="margin-left: 0.8rem; margin-right: 0.8rem">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <div *ngIf="!loading && items.length === 0" class="admin-ion-item-custom" color="secondary">
        No hay preguntas
      </div>

      <ng-container *ngIf="!loading && items.length > 0">
        <div class="admin-ion-item-custom" *ngFor="let item of items" (click)="goToEdit(item)">
          <div class="ion-no-margin">
            <span>{{ item.text }}</span>
            <div style="margin-top: 0.5rem">
              <ion-badge color="primary">{{ item.author }}</ion-badge>&nbsp;
              <ion-badge color="dark">{{ item.created | timeAgo | titlecase }}</ion-badge>&nbsp;
              <ion-badge *ngIf="item.type == 'normal'">Normal</ion-badge>
              <ion-badge *ngIf="item.type == 'hard'">Fuerte</ion-badge>
            </div>
          </div>
        </div>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
